@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: none;
}

.page-top {
  background-image: url("./images/bg-hero-desktop.svg");
}

.page-top-div {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  background-color: rgba(211, 237, 253, 0.40);
}

.page-top-a {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  height: 30px;
}

.page-top-b {
  display: flex;
  gap: 50px;
  align-items: center;
}

.page-top-heading {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 34px;
}

.page-top-text {
  font-size: 16px;
}

.page-top-img {
  height: 350px;
}

.try-button {
  width: 175px;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  background-color: white;
}

.get-started-button {
  width: 200px;
  height: 35px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  font-size: 12px;
}

.try-button:hover, .get-started-button:hover, .get-started-button-big:hover {
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.65;
}

.page-top-text-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 100px;
}

.page-main-a, .page-main-b, .page-main-c {
  display: flex;
  align-items: center;
  padding: 35px 50px;
  gap: 50px;
  width: 85%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.page-main-text-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-main-heading {
  font-weight: bold;
  font-size: 28px;
}

.page-main-text {
  color: rgba(0, 0, 0, 0.5);
}

.page-main-img {
  height: 250px;
}

.page-main-overlap {
  background-color: white;
  padding: 50px 100px;
  width: 67%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 70px;
}

.overlap-heading {
  font-size: 30px;
  font-weight: bold;
}

.get-started-button-big {
  height: 45px;
  width: 250px;
  font-size: 14px;
}

footer {
  height: 500px;
  background-color: hsl(192, 100%, 9%);
  margin-top: -75px;
  color: white;
  font-size: 16px;
}

.footer-area {
  padding: 0 75px;
}

.bottom-logo {
  margin-top: 150px;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 65px 0;
}

.bottom-a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.bottom-b, .bottom-c {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-b a, .bottom-c a {
  color: white;
  text-decoration: none;
}

.bottom-b a:hover, .bottom-c a:hover {
  text-decoration: underline;
}

.bottom-d {
  display: flex;
  gap: 20px;
}

.bottom-d p {
  border: 2px solid white;
  font-weight: bold;
  height: fit-content;
  border-radius: 50%;
  padding: 3px 11px;
  font-size: 16px;
}

.bottom-d p:hover {
  cursor: pointer;
  color:hsl(322, 100%, 66%);
  border-color:hsl(322, 100%, 66%);
  transition: 0.3s;
}

.bottom-a div, .bottom-b div, .bottom-c div {
  display: flex;
  gap: 20px;
}

.bottom-icons {
  margin-top: 2px;
}

#location-icon {
  height: 18px;
  width: 13px;
}

#phone-icon {
  height: 18px;
  width: 18px;
  margin-right: -5px;
}

#email-icon {
  height: 16px;
  width: 20px;
  margin-right: -7px;
}

.bottom-text {
  font-size: 14px;
}

.footnote {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footnote a {
  color: white;
}